.App {
  text-align: center;
  
  display: flex;
  justify-content: center;
  align-items: center
}

.sudokuSolverHeader {
  text-align: center;
}

.sudokuContainer {
  height: 324px;
  width: 306px;
  border: 2px solid black;
}

.sudokuCell {
  height: 32px;
  width: 32px;
  border: 1px solid black;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
  -moz-appearance:textfield;
}